.root {
  position: relative;
  background: var(--token-IbGo44cre5m1);
  max-width: none;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 32px;
}
.freeBox__iQIj1 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  align-self: center;
  min-width: 0;
}
.freeBox__iQIj1 > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__iQIj1 > :global(.__wab_flex-container) > *,
.freeBox__iQIj1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iQIj1 > :global(.__wab_flex-container) > picture > img,
.freeBox__iQIj1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__sQJrN {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  background: none;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
  max-width: 1380px;
  min-width: 0;
}
.freeBox__sQJrN > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__sQJrN > :global(.__wab_flex-container) > *,
.freeBox__sQJrN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sQJrN > :global(.__wab_flex-container) > picture > img,
.freeBox__sQJrN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__ibuCj {
  display: flex;
  position: relative;
  flex-direction: row;
  width: auto;
}
.freeBox__ibuCj > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 12px);
  width: calc(100% + 12px);
}
.freeBox__ibuCj > :global(.__wab_flex-container) > *,
.freeBox__ibuCj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__ibuCj > :global(.__wab_flex-container) > picture > img,
.freeBox__ibuCj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 12px;
}
.freeBox__m3Mc9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__c28Cg {
  color: #3796b5;
}
.freeBox__mm965 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link___2Kl7B {
  color: #3796b5;
}
.freeBox__qPoFy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.link__jkhgB {
  color: #3796b5;
}
.freeBox__zDlBv {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: auto;
  height: auto;
  max-width: 100%;
  padding: 0px;
}
.text {
  font-weight: 400;
  white-space: pre-wrap;
  color: #666666;
}
.link__sxNyn {
  color: #3796b5;
}
