.topnavplaceholder {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  background: var(--token-z8sFVIv9e1kN);
  position: relative;
  min-height: 100px;
  backdrop-filter: blur(5px);
  min-width: 0;
  -webkit-backdrop-filter: blur(5px);
  padding: 24px var(--token-n7XhRyPgSWLx);
}
.link {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 10.5em;
  top: auto;
  left: auto;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding-right: 2.5em;
  min-width: 0;
}
.img {
  object-fit: contain;
  max-width: 100%;
  width: 100%;
  height: 100%;
  display: block !important;
  position: relative;
  left: auto;
  top: auto;
  min-width: 0;
  min-height: 0;
}
.img > picture > img {
  object-fit: contain;
}
.freeBox__eUz71 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: 100%;
  max-width: var(--token-YP2J8u9jujPl);
  min-width: 0;
  min-height: 0;
}
.freeBox__oBDuB {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: auto;
  height: auto;
  max-width: 100%;
}
.text__agZa3 {
  width: auto;
  height: auto;
  line-height: 1;
  letter-spacing: 5%;
  font-family: var(--token-bXbwRcxIUXeR);
  font-weight: 700;
  font-size: var(--token-oWFJyXByMBgZ);
}
.text__wghV {
  height: auto;
  width: auto;
  line-height: 1;
  letter-spacing: 20%;
  font-family: var(--token-bXbwRcxIUXeR);
  font-weight: 700;
  font-size: var(--token-oWFJyXByMBgZ);
}
.freeBox__hjWWb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: auto;
  max-width: 10.5em;
  top: auto;
  left: auto;
  min-width: 0;
}
.freeBox__xbGt {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0;
  top: 100%;
  right: 0;
  min-width: 0;
  margin: 26px 0px 0px;
}
.freeBox__xbGt > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__xbGt > :global(.__wab_flex-container) > *,
.freeBox__xbGt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xbGt > :global(.__wab_flex-container) > picture > img,
.freeBox__xbGt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.freeBox__cmbR {
  background: var(--token-z8sFVIv9e1kN);
  width: auto;
  height: 0px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: ease-out;
  backdrop-filter: blur(5px);
  flex-shrink: 0;
  -webkit-backdrop-filter: blur(5px);
  -webkit-transition-property: all;
  -webkit-transition-timing-function: ease-out;
  -webkit-transition-duration: 0.2s;
}
.freeBox__cmbR > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 25px);
  height: calc(100% + 25px);
}
.freeBox__cmbR > :global(.__wab_flex-container) > *,
.freeBox__cmbR > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cmbR > :global(.__wab_flex-container) > picture > img,
.freeBox__cmbR
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 25px;
}
.freeBoxmenuOpenVariant__cmbRn4W6C {
  height: 410px;
  flex-shrink: 0;
}
.topnavplaceholder .freeBox__cmbR:hover {
  background: var(--token-57h5lx0oDpJV);
}
.freeBox___4UVzu {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding-left: 1em;
  padding-right: 1em;
  min-width: 0;
}
.vSpacing:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.navBarItem__fxKo9:global(.__wab_instance) {
  position: relative;
}
.divider__fcbD7:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.navBarItem__dzUyf:global(.__wab_instance) {
  position: relative;
}
.divider__lgzis:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.navBarItem__mdoJk:global(.__wab_instance) {
  position: relative;
}
.divider__m6YVu:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.navBarItem__hyNSm:global(.__wab_instance) {
  position: relative;
}
.divider__y8KbX:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.navBarItem__j3Rvz:global(.__wab_instance) {
  position: relative;
}
.divider__mQrHs:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.freeBox__j02YN {
  width: 302px;
  height: 140px;
  display: flex;
  position: relative;
  flex-direction: column;
  flex-shrink: 0;
}
.freeBox__j02YN > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: calc(0px - 10px);
  height: calc(100% + 10px);
}
.freeBox__j02YN > :global(.__wab_flex-container) > *,
.freeBox__j02YN > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__j02YN > :global(.__wab_flex-container) > picture > img,
.freeBox__j02YN
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 10px;
}
.freeBox__aQyP {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__aQyP > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 5px);
  height: calc(100% + 5px);
}
.freeBox__aQyP > :global(.__wab_flex-container) > *,
.freeBox__aQyP > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__aQyP > :global(.__wab_flex-container) > picture > img,
.freeBox__aQyP
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 5px;
}
.text__glksu {
  display: block;
  position: relative;
  width: 300px;
  text-align: center;
  font-weight: 500;
  font-family: var(--token-1WzXcHKzdAlm);
  font-size: var(--token-2PMjdBTHfE7S);
  line-height: var(--token-RcrA1gRsyJQR);
  letter-spacing: 0.1em;
}
.freeBox__p6Not {
  background: rgba(51, 51, 51, 1);
  width: 302px;
  height: 53px;
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  padding: 10px;
}
.freeBox__tOaJd {
  width: auto;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__tOaJd > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__tOaJd > :global(.__wab_flex-container) > *,
.freeBox__tOaJd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tOaJd > :global(.__wab_flex-container) > picture > img,
.freeBox__tOaJd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.text__iVm1M {
  display: block;
  position: relative;
  color: var(--token-57h5lx0oDpJV);
  font-weight: 700;
  font-family: var(--token-1WzXcHKzdAlm);
  font-size: var(--token-2PMjdBTHfE7S);
  line-height: var(--token-RcrA1gRsyJQR);
  letter-spacing: 0.1em;
}
.freeBox___0Xv1J {
  display: block;
  position: relative;
  width: 60px;
  height: 0px;
  flex-shrink: 0;
}
.svg__a9M6R {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: skew(-0.057295760414500616deg, 0deg);
  width: 60px;
  height: 2px;
  display: block;
  transform-origin: top left;
  left: 0px;
  top: 0px;
}
.freeBox__aTiuf {
  display: block;
  position: relative;
  width: 1px;
  height: 0px;
  flex-shrink: 0;
}
.svg__h3CPc {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  transform: rotate(-180deg) skew(0.057295760414500616deg, 0deg);
  width: 9px;
  height: 16px;
  display: block;
  transform-origin: top left;
  left: 1px;
  top: 0px;
}
.toggleWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.menuToggleBars:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
